{
	"inProduction" = NO;
	"developmentAppKey" = "Your development app key";
	"developmentAppSecret" = "Your development app secret";
	"developmentLogLevel" = 4;
	"productionAppKey" = "Your production app key";
	"productionAppSecret" = "Your production app secret";
	"productionLogLevel" = 1;
	"analyticsEnabled" = NO;
}
